.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--divider);
  padding: 4px;
  position: relative;
  &__top__button {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
